.content{
    margin-top: 20px;
}

.parallax-container {
    height: 500px;
}

.para_content{
    border-left: 10px lightblue solid;
}

.para_content p {
    margin-left: 20px;
}

/*override*/
nav .brand-logo{
    color: black;
}

.sticky{
    z-index: 10000;
}

.search-margin{
    margin: 1rem 1rem 0 1rem;
}

.radioRow{
    padding: 0 10.5px;
}

/*override*/
nav{
    background-color: white;
}

/*override*/
/*.container{
    margin: 0 auto;
    width: 90%;
    max-width: 2000px;
}*/


.carousel .indicators .indicator-item{
    background-color: lightgray;
}

.carousel .indicators .indicator-item.active{
    background-color: black;
}

