.pin-top {
    position: relative;

}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
    margin-top: 65px;
}

.card-image{
    padding: 15px;
}

.content{
    margin-top: 20px;
}